.my-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  height: 60px;
  background-color: #a790d0;
}

.my-header > div {
  height: 100%;
  line-height: 50px;
  font-size: 20px;
}

.meta span {
  margin-right: 40px;
}

.time {
  margin-left: 10px;
}